footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
}

span{
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 17px;
}

.rodape{
    background-color: rgb(63, 123, 252);
    width: 100%;
}

.rodimg{
    width: 160px;
    height: 160px;
}